body {
background: #0f172a;
color: white;
font-family: 'Segoe UI';
margin: 0;
}


.app {
max-width: 900px;
margin: auto;
padding: 20px;
}


h1 {
text-align: center;
color: #38bdf8;
}


.task-box {
display: flex;
gap: 10px;
}


input, button {
padding: 10px;
border-radius: 8px;
border: none;
}


button {
background: #22c55e;
cursor: pointer;
}


li {
background: #1e293b;
margin: 8px 0;
padding: 10px;
border-radius: 8px;
display: flex;
justify-content: space-between;
}


.completed {
text-decoration: line-through;
color: #94a3b8;
}


#calendar {
margin-top: 30px;
background: white;
color: black;
padding: 10px;
border-radius: 10px;
}